@CHARSET "UTF-8";
/**
* Checkbox component
*/
.checkbox {
    display: inline-block;
}
.checkbox > input {
    display: none;
}
.checkbox_label {
    display: inline-block;
}
.checkbox > input + .checkbox_label:before {
    content: "";
    width: 14px;
    height: 15px;
    text-align: center;
    display: inline-block;
    margin-bottom: -3px;
    background-color: #FFFFFF;
    background-image: url("../../img/BTN_RemeberMe_Unselect_12X12.png");
    margin-right: 10px;
}
.checkbox > input:checked + .checkbox_label:before {
    content: "";
    width: 15px;
    height: 15px;
    border: none;
    text-align: center;
    display: inline-block;
    background-image: url("../../img/BTN_RemeberMe_Select_12x12.png");
    background-repeat: no-repeat;
    background-position: 1px;
}