<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>login</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>404</error-code>
    <location>/404.html</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/500.html</location>
  </error-page>

  <filter>
    <filter-name>Encoding</filter-name>
    <filter-class>com.malcolm.oes.filter.PageEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>SessionFilter</filter-name>
    <filter-class>com.malcolm.oes.filter.SessionFilter</filter-class>
    <init-param>
      <param-name>notNeedLoginPages</param-name>
      <param-value>,login.action</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>Encoding</filter-name>
    <url-pattern>*.action</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>*.action</url-pattern>
  </filter-mapping>

  <servlet>
    <servlet-name>dispatcherServlet</servlet-name>
    <servlet-class>com.malcolm.oes.controller.DispatcherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dispatcherServlet</servlet-name>
    <url-pattern>*.action</url-pattern>
  </servlet-mapping>
  <!--
  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>com.malcolm.oes.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/login.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>myoes</servlet-name>
    <servlet-class>com.malcolm.oes.servlet.DashBoardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>myoes</servlet-name>
    <url-pattern>/myoes.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>logoutServlet</servlet-name>
    <servlet-class>com.malcolm.oes.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logoutServlet</servlet-name>
    <url-pattern>/logout.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>createQuestionServlet</servlet-name>
    <servlet-class>com.malcolm.oes.servlet.CreateQuestionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createQuestionServlet</servlet-name>
    <url-pattern>/createQuestion.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>questionDetailServlet</servlet-name>
    <servlet-class>com.malcolm.oes.servlet.QuestionDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>questionDetailServlet</servlet-name>
    <url-pattern>/questionDetail.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>saveQuestionServlet</servlet-name>
    <servlet-class>com.malcolm.oes.servlet.SaveQuestionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>saveQuestionServlet</servlet-name>
    <url-pattern>/saveQuestion.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>searchQuestionServlet</servlet-name>
    <servlet-class>com.malcolm.oes.servlet.SearchQuestionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchQuestionServlet</servlet-name>
    <url-pattern>/searchQuestion.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteQuestionByIdsServlet</servlet-name>
    <servlet-class>com.malcolm.oes.servlet.DeleteQuestionByIdsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteQuestionByIdsServlet</servlet-name>
    <url-pattern>/deleteQuestionByIds.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>editQuestionServlet</servlet-name>
    <servlet-class>com.malcolm.oes.servlet.EditQuestionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editQuestionServlet</servlet-name>
    <url-pattern>/editQuestion.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>editQuestionToSaveServlet</servlet-name>
    <servlet-class>com.malcolm.oes.servlet.EditQuestionToSaveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editQuestionToSaveServlet</servlet-name>
    <url-pattern>/editQuestionToSave.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>questionDetailDelete</servlet-name>
    <servlet-class>com.malcolm.oes.servlet.QuestionDetailDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>questionDetailDelete</servlet-name>
    <url-pattern>/questionDetailDelete.action</url-pattern>
  </servlet-mapping>
  -->
</web-app>