@charset "utf-8";
/**
* reset the css
*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form,fieldset, legend, input, textarea, p, blockquoto, th, td, hr, button, article, 
figcaption, figure, footer, header, hgroup, menu, nav, section {
    margin: 0;
    padding: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    font-family: Arial,Reular;
    font-size: 14px;
}
a {
    text-decoration: none;
}
ol, ul {
    list-style: none;
}
